form {
	width: 400px;
}

#fieldset {
	border: 1.5px solid red;
}

input {
	border-radius : 5px;
	background-color: #FFF3F3;
	border: 1.5px solid red;
}

input:focus {
	outline: none;
	background-color: white;
}

input[type=text] {
	width: 200px;
	float: right;
	margin-right: 35px;
}

input[type=password] {
	width: 200px;
	float: right;
	margin-right: 35px;
}

#button {
	width: 100px;
	border-radius : 5px;
	outline: none;
	font-weight: bold;
	box-shadow: 5px 5px 5px grey;
	background-color: #FFF3F3;
	border: 1.5px solid red;
}

#block1 {
	margin-left: 35%;
}

