body
{
    padding:0;
    margin:0;
    width:auto;
    font-family: Segoe UI Light, Georgia;
}
.header {
  overflow: hidden;
  background-color: #042D48;

}

a {
  float: left;
  color : white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
}
 
.logo {
  font-size: 25px;
  margin-left: 20px;
  font-weight: bold;
}
.logo:hover{
  animation-name: logo;
  animation-duration: 0.5s;
  color: #FAA200;
}
@keyframes logo {
  0%   {color: white;}
  100% {color: #FAA200;}
}

.header-right a:hover {
  text-decoration: none;
  animation-name: example;
  animation-duration: 0.5s;
  border-bottom: 3px solid #FAA200;
  color : white;
}
@keyframes example {
  0%   {border-bottom: 3px solid #042D48;}
  100% {border-bottom: 3px solid #FAA200;}
}

a.active {
  border-bottom: 3px solid #FAA200;
}

.header-right {
  margin-right: 100px;
  float: right;
}

