
  <div class="header_left">
    <a href="/home" class="logo"> <img id="logo" src="alphish3.png" width="132px"> </a>
    <form class="formulaire">
      <input class="rechercher" type="text" align="center" placeholder="Recherche">
      <button type="submit" value="OK" class="fas fa-search"></button>   
    </form> 
  </div>

  <div class="header_right">
    <a class="fas fa-user" href="/myPage"></a>
    <button class="fas fa-bell"></button>
    <a href="/parameters" class="fas fa-cog"></a>
    <a href="/connexion" class="fas fa-power-off"></a>
  </div>
  
