<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Alpha </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="alphish_icon.png" />
    <link rel="stylesheet" href="home.css">
</head>

<body>

<div class="header" th:insert="header"> </div>

<div class="poster">
	<form method="post" class="newpost" th:action="@{/publication}" th:object="${publicationForm}">
		<input type="text" placeholder="Subject Title..." name="titre" class="titlenew" required/>
		<textarea rows="5" cols="40" placeholder="New post..." name="contenu" required></textarea>
		<input type="submit" value="Publier" class="newpostsubmit"/>
	</form>
</div>

<div class="main">
	<div class="posts">
	   
	    	<fieldset th:each="sujet : ${sujet}" class="subject">
			    <legend style="font-size:25px;font-weight:bold;">Sujet : <sujet style="font-family:bold;" th:text="${sujet.titre}"></sujet></legend>
			  		<p class="contenusujet" th:text="${sujet.contenu}"> </p>
			  	
				  	<div class="like" style="display:flex">
				  		<a th:href="@{/like(id_post=${sujet.id})}" class="liker">J'aime</a>
				  		<div class="likes" style="margin-left:10px" th:text="${sujet.list_like}"></div>
				  	</div>
				  	
				  	<div class="trait"></div>
				  	
				  	<fieldset class="hide">
			   		
			   			<div th:each="commentaire : ${commentaire}">
				   			<fieldset  class="hide2" th:if="${commentaire.id_post}==${sujet.id}">
				   				<legend th:each="user : ${user}" th:if="${commentaire.id_user}==${user.id}">
					   					<img th:src="${user.image}" style="width:30px"/>
					   					<a th:href="@{/friend(id_friend=${commentaire.id_user})}" th:text="${user.username}" style="color:black"></a>				   				
				   				</legend>
				   				<div th:if="${commentaire.id_post}==${sujet.id}" th:text="${commentaire.contenu}"></div>
				   				<div style="text-align:right;" th:text="${commentaire.date}" ></div>
				  			</fieldset>
			   			</div>
			  			
			   			<fieldset>
			   				<legend>Votre réponse</legend>
			   				<form method="post" th:action="@{/commentaire}" th:object="${commentaireForm}">
								<textarea rows="5" cols="40" placeholder="Commentez..." name="contenu"></textarea>
								<input type="hidden" th:value="${sujet.id}" name="id_post"/>
								<input type="submit" value="Publier" />
							</form>
			   			</fieldset>
			  		</fieldset>
		    </fieldset>
		    
	</div>
	
	<div class="filter">
		
		<form method="post" action="#">
			<input class="filtreinput" type="text" placeholder="Recherher un sujet..." />
		</form>
		
		<fieldset class="test">
	    <legend>Filtre</legend>
	    </fieldset>
	
	</div>
</div>








</body>
</html>







