<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="css/index.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="alphish_icon.png" />
  <title>Sign in</title>
</head>

<body>

	<div class="logo">
  		<img id="logo" src="alphish3.png" width="200px">
	</div>

  	<div class="main">
      <p class="sign" align="center">Member Login</p>
      
      <form class="form1" method="post" th:action="@{/connexion}" th:object="${connexionForm}">
        <input class="un " type="text" align="center" placeholder="Mail" name="mail">
        <input class="pass" type="password" align="center" placeholder="Password" name="password">
        <input type="submit" class="submit" align="center"/>
      </form>  
      
        <p class="forgot" align="center"><a th:href="@{/inscription}">Sign up</p>        
    </div>
     
</body>

</html>