<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Alpha </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="alphish_icon.png" />
    <link rel="stylesheet" href="myPage.css">
</head>

<body>

<div class="header" th:insert="header"> </div>
<div class="contenu">
	<div class="colonne_gauche">
		<div class="photo"></div>
		<div class="pseudo"><name th:text="${session.name}"></div>
		<div class="amis">	<div style="font-family:bold">Liste d'amis :</div><br>
			<div th:each="friend :${friend}">			
				<div th:text="${friend}"></div>
			</div>
		</div>
	</div>
	<div class="colonne_droite">
		<h1 style="margin-left:10px">Mes publications</h1>
		<form class="recherche" method="post">
			<input type="text" class="publi" placeholder="Rechercher"/>
			<select class="filtre">
  				<option value="recent">Les plus récents</option>
  				<option value="vu">Les plus vus</option>
			</select>
		</form>
		<fieldset th:if="${sujet.id_user}==${session.id_user}" class="publications" th:each="sujet : ${sujet}">
			<legend>Sujet : <sujet style="font-family:bold;" th:text="${sujet.titre}"></sujet></legend>
			<div class="infos">
				<div class="date" th:text="${sujet.date}"></div>
				<div class="like" th:text="${sujet.list_like}"></div>
				<a class="delete"th:href="@{/delete(id_post=${sujet.id})}">X</a>
			</div>
			<div class="text" th:text="${sujet.contenu}"></div>
			
			<div class="reponses" th:each="commentaire : ${commentaire}">
				<fieldset th:if="${commentaire.id_post}==${sujet.id}">
					<legend th:text="${commentaire.date}"></legend>
					<div th:if="${commentaire.id_post}==${sujet.id}" th:text="${commentaire.contenu}"></div>
				</fieldset>
			</div>
			<form method="post" th:action="@{/myPageCommentaire}" th:object="${myPageCommentaireForm}">
				<textarea rows="3" cols="100" placeholder="Commentez..." name="contenu"></textarea>
				<input type="hidden" th:value="${sujet.id}" name="id_post"/>
				<input type="submit" value="Publier" />
			</form>
			
			
		</fieldset>
	</div>
</div>

</body>
</html>