<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Alpha </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="alphish_icon.png" />
    <link rel="stylesheet" href="myPage.css">
</head>

<body>

<div class="header" th:insert="header"> </div>
<div class="contenu">
	<div class="colonne_gauche">
		<div class="photo"></div>
		<div class="pseudo">Maxence Lebec</div>
		<div class="amis"></div>
	</div>
	<div class="colonne_droite">
		<div style="margin-left:10px">Mes publications</div>
		<form class="recherche" method="post">
			<input type="text" class="publi" placeholder="Rechercher"/>
			<select class="filtre">
  				<option value="recent">Les plus récents</option>
  				<option value="vu">Les plus vus</option>
			</select>
		</form>
		<div th:include	="publication"></div>
		<div th:include	="publication"></div>
	</div>
</div>

</body>
</html>