<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Alpha </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="alphish_icon.png" />
    <link rel="stylesheet" href="parameters.css">
</head>

<body>

<div class="header" th:insert="header"> </div>

<div class="main1">
  <div class="titre">Modifier votre profil  <name th:text="${session.name}"></name></div>
  <div th:text="${error}"></div>
  <form class="modification" method="post" th:action="@{/modifProfil}" th:object="${modifProfilForm}">
    <input class="change" type="text" align="center" placeholder="pseudo" name="username" required>
    <input class="change" type="text" align="center" placeholder="email" name="mail" required>
    <input class="change" type="text" align="center" placeholder="old password" name="oldPassword" required>
    <input class="change" type="text" align="center" placeholder="new password" name="password" required>
    <input class="change" type="text" align="center" placeholder="new password repeat" name="password2" required></br>
    <input type="submit" value="Valider" class="valider" />
  </form> 
</div>

<div class="main2">

  <div class="theme">
    <div class="titre">Contact</div>
    <button type="submit" class="valideradmin">Contact Admin</button>
  </div>

  <div class="delete">
    <div class="titre">Modifier photo de profil</div>
    	<form method="post" th:action="@{/changePhoto}" th:object="${changePhotoForm}">
		    <div class="flex_img">
		    	<label for="mol"><img src="molecule.png"></label>
		    	<label for="nur"><img src="nurse.png"></label>
		    	<label for="bal"><img src="ballon.png"></label>
		   	</div>
		   	<div class="flex_radio">
			    <input type="radio" id="mol" name="image" value="molecule.png" checked>
			    <input type="radio" id="nur" name="image" value="nurse.png">
			    <input type="radio" id="bal" name="image" value="ballon.png">
		    </div>
		    <input type="submit" value="Valider" class="valider">
    	</form>
   </div>

</div>



</body>
</html>