<fieldset class="publications">
	<legend>Probleme de site</legend>
	<div class="infos">
		<div class="date">11 decembre 2018</div>
		<div class="like">150 likes</div>
		<button class="delete">X</button>
	</div>
	<div class="text">Bonjour ! Vous qui etes entrain de coder ce site (moisi) et qui essayez
de nuire au bon deroulement du projet ... de votre projet ! Vous vous torpillez vous meme :/.
Je trouve cela scandaleux, mais bon chacun son point de vue :s. Personne n'est parfait et si
cela peut vous rassurer, surtout pas vous ! Bizz </div>
	<div class="reponses">
		<fieldset><legend>Jeremie</legend><div>Ferme la et travaille au lieu d'inventer du texte et de perdre 
ton temps. Tu te crois superieur ? En realite je te marche dessus sombre chameau unijambiste constipe !</div></fieldset>
		<fieldset><legend>Nicolas</legend><div>Totalement d'accord</div></fieldset>
	</div>
</fieldset>