<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="subscribe.css">
  <link rel="icon" type="image/png" href="alphish_icon.png" />
  <title>Sign up</title>
</head>

<body>

<div class="logo">
  	<img id="logo" src="alphish3.png" width="200px">
</div>

<div class="main">
<p class="sign" align="center">Registration</p>

<form class="form1" method="post" th:action="@{/inscription}" th:object="${inscriptionForm}" >
	<div class="block_left">
		<input class="un " type="text" align="center" placeholder="mail" name="mail" required>
	    <input class="un " type="text" align="center" placeholder="confirmMail" name="confirmMail" required>
	    <input class="pass" type="password" align="center" placeholder="password" name="password" required>
	    <input class="pass" type="password" align="center" placeholder="confirmPassword" name="confirPassword" required>
	</div>
	<div class="block_right">
		<input class="un " type="text" align="center" placeholder="name" name="name" required>
	    <input class="un " type="text" align="center" placeholder="surname" name="surname" required>
	    <input class="pass" type="text" align="center" placeholder="username" name="username"required>
	    <div>
		    <input type="radio" name="image" value="molecule.png"><img src="molecule.png" style="width:50px">
		    <input type="radio" name="image" value="nurse.png"><img src="nurse.png" style="width:50px">
		    <input type="radio" name="image" value="ballon.png"><img src="ballon.png" style="width:50px">
	    </div>
	</div>
	<button type="submit" class="submit" align="center">Validate</button>
</form>

</div>
     
</body>

</html>